
<div class="jumbotron">
  <div class="container">
    <h1>Olá!</h1>
    <p>Este é o sistema Minhas Senhas, nele você poderá cadastrar suas senhas, e utilizá-las quando quiser!  ;)</p>

  </div>
</div>

  <div class="container">

    <%= form_for(@password) do |f| %>
      <% if @password.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@password.errors.count, "error") %> prohibited this password from being saved:</h2>

          <ul>
          <% @password.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <fieldset>
    <div id="legend">
      <legend class="">Cadastre uma nova senha</legend>
    </div>

    <div class="control-group">
      <!-- Description -->
      <label class="control-label"  for="description">Descrição da senha</label>
      <div class="controls">
        <%= f.text_field :description, required:"required", placeholder:"", class:"col-sm-4" %></br></br>
        <p class="help-block">Digite a descrição da senha <small> * Obrigatório </small> </p></br>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="url">URL da senha</label>
      <div class="controls">
        <%= f.text_field :url, placeholder:"", type:"url" , class:"col-sm-12" %></br></br>
        <p class="help-block">Digite a URL do site ou deixe em branco</p></br>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user">Usuário</label>
      <div class="controls">
        <%= f.text_field :user, placeholder:"", class:"col-sm-4" %></br></br>
        <p class="help-block">Digite o usuário </p></br>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Senha</label>
      <div class="controls">
        <%= f.text_field :password, type:"password", required:"required", placeholder:"", class:"col-sm-4" %></br></br>
        <p class="help-block">Digite a senha <small> * Obrigatório </small></p></br>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Confirme a senha</label>
      <div class="controls">
        <input type="password" id="password_confirm" required="required" name="password_confirm" placeholder="" class="col-sm-4">
  </br></br>      <p class="help-block">Por favor, confirme a senha <small> * Obrigatório </small> </p>
</div>
    </div>


  </fieldset>
  <div class="actions">
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.submit "Registrar senha", class:"btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>

  </div>
